<%- include('./partials/head.ejs') %>

    <div class="min-h-screen bg-no-repeat bg-cover py-36" style="background-image: url('/img/bg-image.jpg');">
        <div class="flex justify-center pb-24 mt-36 text-center">
            <h1 class="text-[2rem] font-extrabold bg-blue-800 rounded px-24 py-3 text-white">Other Services</h1>
        </div>

        <section class="text-gray-600 bg-white body-font">
            <div class="container flex flex-wrap px-5 py-24 mx-auto">
                <div class="flex flex-wrap w-full">
                    <div>
                        <h2 class="mb-5 text-xl font-bold text-center underline">Rating Audit Service</h2>
                        <p>We have a team of dedicated forensic auditors that work tirelessly to ensure that your
                            claim is successful in obtaining any refunds/ credits that are owed to you. Business
                            rates bills can be very complex in the way they are calculated and because of this, your
                            local authority could be overcharging you and may have been doing so for some time. Our
                            team will be able to establish if you have been overcharged and will work to claim back
                            any historical over payment for you as well as current bills.

                            Errors on rating bills can occur historically for several reasons and will almost always
                            be previously undetected by the ratepayer, below are some examples</p>
                    </div>
                    <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
                        <div class="relative flex pb-12">
                            <div class="absolute inset-0 flex items-center justify-center w-10 h-full">
                                <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
                            </div>
                            <div
                                class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-indigo-500 rounded-full">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                </svg>
                            </div>
                            <div class="flex-grow pl-4">
                                <h2 class="mb-1 text-lg font-medium tracking-wider text-gray-900 title-font">Failure to
                                    Process Rateable Value Reductions</h2>
                                <p class="leading-relaxed">When the assessed value of a property, which determines the
                                    rates
                                    payable, is not adjusted downward after a review or revaluation, leading to
                                    overpayment.
                                </p>
                            </div>
                        </div>
                        <div class="relative flex pb-12">
                            <div class="absolute inset-0 flex items-center justify-center w-10 h-full">
                                <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
                            </div>
                            <div
                                class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-indigo-500 rounded-full">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                </svg>
                            </div>
                            <div class="flex-grow pl-4">
                                <h2 class="mb-1 text-lg font-medium tracking-wider text-gray-900 title-font">Failure to
                                    Apply Charitable Relief</h2>
                                <p class="leading-relaxed">When eligible charitable organisations do not receive the
                                    rate
                                    relief they are entitled to, resulting in higher than necessary charges.</p>
                            </div>
                        </div>
                        <div class="relative flex pb-12">
                            <div class="absolute inset-0 flex items-center justify-center w-10 h-full">
                                <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
                            </div>
                            <div
                                class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-indigo-500 rounded-full">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                </svg>
                            </div>
                            <div class="flex-grow pl-4">
                                <h2 class="mb-1 text-lg font-medium tracking-wider text-gray-900 title-font">Unclaimed
                                    Credit Balances</h2>
                                <p class="leading-relaxed">When ratepayers have overpaid in the past and have credits on
                                    their account that are not refunded or applied to future bills.</p>
                            </div>
                        </div>
                        <div class="relative flex pb-12">
                            <div class="absolute inset-0 flex items-center justify-center w-10 h-full">
                                <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
                            </div>
                            <div
                                class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-indigo-500 rounded-full">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                </svg>
                            </div>
                            <div class="flex-grow pl-4">
                                <h2 class="mb-1 text-lg font-medium tracking-wider text-gray-900 title-font">
                                    Transitional
                                    Certificates Not Applied</h2>
                                <p class="leading-relaxed">When transitional relief, which phases in changes to rates
                                    payable after a revaluation to prevent large increases or decreases, is not applied
                                    correctly, causing inaccurate billing.</p>
                            </div>
                        </div>
                        <div class="relative flex">
                            <div
                                class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-indigo-500 rounded-full">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                </svg>
                            </div>
                            <div class="flex-grow pl-4">
                                <h2 class="mb-1 text-lg font-medium tracking-wider text-gray-900 title-font">Local
                                    Discretionary Allowances Not Awarded</h2>
                                <p class="leading-relaxed">Ratepayers may miss out on local discretionary allowances
                                    that
                                    could reduce their bills if these allowances are not applied correctly.</p>
                            </div>
                        </div>
                    </div>
                    <img class="object-cover object-center mt-12 rounded-lg lg:w-3/5 md:w-1/2 md:mt-0"
                        src="./img/audit.jpg" alt="step">
                </div>
            </div>
        </section>


        <section class="bg-white w-[70%] flex items-center justify-center my-28 mx-auto text-gray-600 shadow-xl">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
                <div class="col-span-2">
                    <h3 class="capitalize underline font-bold text-center text-xl mb-5">Rent Review Service</h3>
                    <p class="text-justify">When it comes time to review your rental agreement, securing the best deal
                        for
                        you and your business hinges on accurately interpreting the lease terms and incorporating
                        precise
                        market information from analyzed rents of comparable properties.
                        <br>
                        <br>

                        Our expert team of professional Surveyors, armed with detailed local market knowledge, can help
                        negotiate the best result for you during rent reviews. Landlords can retroactively trigger rent
                        review proceedings, and depending on the lease terms, they may apply interest charges to
                        backdated
                        rental increases.
                        <br>
                        <br>

                        Understanding market trends, rental evidence, case law, and current legislation is crucial to
                        achieving the best possible outcome for our clients.
                        <br>
                        <br>

                        If negotiations fail, our Surveyors are well-equipped to act as Expert Witnesses and make
                        written
                        representations to an Arbitrator or Independent Expert.
                        <br>
                        <br>
                        We exclusively represent tenants in rent reviews and lease renewals, ensuring no conflict of
                        interest. Our results-focused approach guarantees that we always strive to secure the best
                        possible
                        outcome for you.
                    </p>
                </div>
                <div class="flex items-center justify-center">
                    <img src="./img/rent.jpg" alt="Rent">
                </div>
            </div>
        </section>

    </div>

    <%- include('./partials/footer.ejs') %>